.centerContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/*BOTTOMBAR*/

.bottomBar {
  position: fixed;
  bottom: 0;
  background-color: #282828;
  color: white;
  height: 108px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}

/*CENTER AREA*/

.mapArea {
  width: 95%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  height: calc(100% - 158px);
  -ms-transform: translateY(calc(-50% - 29px));
  transform: translateY(calc(-50% - 29px));
}

.sideBar {
  height: calc(100% - 200px);
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(calc(-50% - 29px));
  transform: translateY(calc(-50% - 29px));
  z-index: 1;
}

.testArea {
  width: 200px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  bottom: 120px;
  left: 40px;
  z-index: 300;
}

.loadingIndicator {
  position: absolute;
  left: 50%;
  bottom: 120px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.helpContainer[showhelp="0"] {
  display: none;
  visibility: hidden;
}
